JavaAdvanced/
ASD/sem4/LabASD1/\.idea/
**.jar
**.cipher
**^[test].txt
**.zip
# **.nix
**.hi
**.o
**Analyzer.hs
**Parser.hs
**.yaml**
.stack**
result**
**.out
**__pycache__
**.so
**/Bayes/test
**ans.*
**/.idea
**/gen
**out
**lib
*.xml
**iml
# **/**.dot